**\node_modules
**\node_modules\
node_modules\
**\CSVForCouch.csv
CSVForCouch.csv
**\CSVForPsql.csv
CSVForPsql.csv
**\*.csv
*.csv
**\**.csv
**.csv
**.pem
*.pem
**\*.pem
**\**.pem

**/Form-Service.pem
Form-Service.pem

**/Form-Database.pem
Form-Database.pem

**/Form-Proxy.pem
Form-Proxy.pem

**/*.pem
**/**.pem
*.pem
**.pem

node_modules/
/node_modules
**/node_modules
**/node_modules/

**/Form-Database.pem
Form-Database.pem

**/Form-Proxy.pem
Form-Proxy.pem

**/Form-Redis.pem
Form-Redis.pem

**/Form-Service.pem
Form-Service.pem

**/*.pem
**/**.pem

*.pem
**.pem

**/*.csv
**/**.csv

*.csv
**.csv